<form method="post" action="{{ path('app_avis_delete', {'id': avi.id}) }}" 
      data-avis-id="{{ avi.id }}" 
      data-token="{{ csrf_token('delete' ~ avi.id) }}"
      class="hidden">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avi.id) }}">
</form>