<form method="post" action="{{ path('app_wishlist_delete', {'id': wishlist.id}) }}"
      data-wishlist-id="{{ wishlist.id }}"
      data-token="{{ csrf_token('delete' ~ wishlist.id) }}"
      class="hidden">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wishlist.id) }}">
</form>
