# config/services.yaml
parameters:
    uploads_directory: '%kernel.project_dir%/public/uploads'
    uploads_livres: '%kernel.project_dir%/public/uploads/livres'
    uploads_auteurs: '%kernel.project_dir%/public/uploads/auteurs'
    app.support_email: 'support@biblio-symfony.local'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
